<div
  th:fragment="post-card(post)"
  class="block rounded border border-gray-light p-3 mb-3 bg-pure-black-200"
>
  <div
    th:if="${not #lists.isEmpty(post.categories)} or ${not #lists.isEmpty(post.tags)}"
    class="flex flex-wrap items-center gap-2"
  >
    <a
      th:if="${#lists.size(post.categories)} gt 0"
      th:href="@{${post.categories[0].status.permalink}}"
      th:title="${post.categories[0].spec.displayName}"
      th:text="${post.categories[0].spec.displayName}"
      class="mr-1 hover:text-blue-500 hover:underline"
    >
    </a>
    <a
      th:each="tag : ${post.tags}"
      th:href="@{${tag.status.permalink}}"
      th:title="${tag.spec.displayName}"
      th:text="|#${tag.spec.displayName}|"
      class="cursor-pointer italic hover:text-blue-500 hover:underline"
    >
    </a>
  </div>
  <h1 class="text-2xl font-bold my-2">
    <a
      class="hover:text-blue-500 hover:underline"
      th:href="@{${post.status.permalink}}"
      th:title="${post.spec.title}"
      th:text="${post.spec.title}"
    />
  </h1>
  <p
    class="post-description rounded-1 p-3 leading-6"
    th:text="${post.status.excerpt}"
  />
  <footer
    class="mt-3"
    th:text="|${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}  发布|"
  />
</div>
